.App {
  text-align: center;
}
form {
  border: 2px solid #0d6efd;
  padding: 30px;
  border-radius: 50px;
}
/* img {
  height: 120px;
  margin-left: 90px;
  margin-bottom: 10px;
  display: block;
  border: 1px solid black;
  border-radius: 50%;
} */

input {
  border-radius: 10px;
}

.asset-icons {
  width: 20px;
  margin-right: 10px;
}
.input {
  box-shadow: (165 165 165 / 50%) 0px 1px 4px;
  padding: 10px;
  margin-left: 10px;
}

.token-input-wrapper {
  display: flex;
}

.labelsContainer {
  text-align: left;
  font-family: 'Space Grotesk';
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}

.label {
  font-size: 1rem;
  font-family: 'Space Grotesk';
  font-weight: bold;
}

.element {
  font-family: 'Space Grotesk';
  font-weight: bold;
}

.invalid {
  border-color: red;
}

.title {
  font-family: 'Space Grotesk';
}
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.connectButton {
  position: absolute;
  right: 20px;
  top: 20px;
  font-family: 'Space Grotesk';
}

.account-data-card {
  text-align: left;
  font-family: 'Space Grotesk';
}

header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('./static/fonts/SpaceGrotesk-Regular.ttf') format('truetype'),
    url('./static/fonts/SpaceGrotesk-Bold.ttf') format('truetype'),
    url('./static/fonts/SpaceGrotesk-Light.ttf') format('truetype'),
    url('./static/fonts/SpaceGrotesk-Medium.ttf') format('truetype'),
    url('./static/fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
}
